@model Frontend.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Editar usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-lg-12">
    <div class="breadcrumb-text">
        <h2>Editar usuario</h2>
        <div class="bt-option">
            <a asp-action="Index">Inicio</a>
            <span>@ViewData["Title"]</span>
        </div>
    </div>
</div>


<div class="col-lg-12 review-add mt-4">

    <form asp-action="Edit" class="row ra-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="col-lg-6">

            @Html.HiddenFor(Model=>Model.UsrId)

            <div class="form-group">
                <label asp-for="UsrNombre" class="control-label"></label>
                <input asp-for="UsrNombre" class="form-control" />
                <span asp-validation-for="UsrNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrApellido" class="control-label"></label>
                <input asp-for="UsrApellido" class="form-control" />
                <span asp-validation-for="UsrApellido" class="text-danger"></span>
            </div>
          

            <div class="form-group">
                <label asp-for="UsrMbrId" class="control-label"></label>
                <div>
                    @Html.DropDownListFor(model => model.UsrMbrId, new SelectList(Model.Membresias,"MbrId","MbrNombre"),"Seleccione una membresia",Model.UsrMbrId)
                </div>
                <span asp-validation-for="UsrMbrId" class="text-danger"></span>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="UsrPassword" class="control-label"></label>
                <input asp-for="UsrPassword" class="form-control" />
                <span asp-validation-for="UsrPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrEmail" class="control-label"></label>
                <input asp-for="UsrEmail" class="form-control" />
                <span asp-validation-for="UsrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrRolId" class="control-label"></label>
                <div>
                    @Html.DropDownListFor(model => model.UsrRolId, new SelectList(Model.Roles,"RolId","RolDescripcion"),"Seleccione el rol del usuario",Model.UsrRolId)
                </div>
                <span asp-validation-for="UsrRolId" class="text-danger"></span>
            </div>

        </div>

        <div class="col-lg-12 mt-4">
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" style="color:#eeeeee" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
