@model Frontend.Models.LoginViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="row" style="justify-content:center;">
    <div class="col-md-4">
        <div class="booking-form">
            <h2 align="center" style="font-family: Arial, sans-serif;">Regístrate en Sona</h2><br />

            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="hero-text"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="hero-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="hero-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="hero-text"></span>
                </div>
                <div align="center">
                    <br />
                    <input type="submit" value="Registrarse" class="btn btn-primary" />
                    <a asp-action="Login" style="margin-left: 20px;">⇦ Volver</a><br /><br />
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
